<ion-nav-view>
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" menu-toggle="left" ng-click="goPlaces()">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>Perfil</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="contenedor pad-top">
      <div class="list list-inset">
        <div class="item">
          Nombre:
        </div>
        <div class="item">
          Apellidos:
        </div>
        <div class="item">
          Correo:
        </div>
        <div class="item">
          Password:
        </div>
        <div class="item">
          Telefono:
        </div>
        <div class="item">
          Edad:
        </div>
        <div class="item">
          Estado:
        </div>
        <div class="item">
          Municipio:
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-assertive">
    <h1 class="title">Perfil</h1>
  </div>
</ion-nav-view>
